# Credentials & Secrets
serviceAccount.json
**/serviceAccounts.json
firebase-adminsdk-*.json
.env
.env.*
!.env.example

# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json  # optional, some teams commit this

# Python
__pycache__/
*.py[cod]
venv/
env/

# IDE & OS
.vscode/
.DS_Store